<%%= simple_form_for(<%= "[:#{prefix}, @#{singular_table_name}]" %>) do |f| %>
<% attributes.each do |attribute| -%>
  <div class="row">
    <div class="col s6">
    <% if attribute.field_type.to_s  == 'date_field' %>
      <%%= f.input :<%= attribute.name %>, as: :string, input_html: { class: 'datepicker' } %>
    <% elsif attribute.field_type.to_s == 'text_area' %>
      <%%= f.input :<%= attribute.name %>, input_html: { class: 'materialize-textarea' } %>
    <% elsif singular_table_name.camelize.constantize.uploaders.keys.include?(attribute.name.to_sym) %>
      <div class="image_preview">
        <%% if @<%=singular_table_name%>.<%=attribute.name %>.present? %>
        <%%= image_tag @<%=singular_table_name%>.<%=attribute.name %>.url, class: 'admin--thumb' %>
        <%%= f.input :remove_<%= attribute.name %>, as: :boolean %>
        <%% end %>
      </div>
      <div class="file-field input-field">
        <div class="btn">
            <span><%= attribute.name %></span>
            <%%= f.input :<%= attribute.name %>, label: false, wrapper: false %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload a file">
        </div>
      </div>
    <% else %>
      <%%= f.input :<%= attribute.name %> %>
    <% end %>
    </div>
  </div>
<% end %>
<div class="actions">
    <%%= f.button :submit %>
</div>
<%% end %>