<h1>Editing <%= singular_table_name %></h1>
<%%= link_to raw('<i class="material-icons">undo</i>'), 'javascript:history.back()', class: 'btn waves-effect waves-light' %>
<br><br>
<%%= render 'form' %>