
<a class="btn-floating btn-large waves-effect waves-light red" href="<%%= new_admin_<%=singular_table_name%>_path %>" style="float:right;"><i class="material-icons">add</i></a>


<h2><%= plural_table_name.titleize %></h2>

<!-- filtering section - to be created customizing index -->
<%%= search_form_for @q, url: admin_<%=plural_table_name%>_path do |f| %>
<div class="row">
  <div class="col s3 input-field">
    <%%= f.label <%= ":id_cont" %> %>
    <%%= f.search_field <%=  ":id_cont" %> %> 
  </div>
</div>
 <div class="row">
   <div class="col">
    <%%= f.submit class: 'btn waves-effect waves-light' %>
    <%% if params[:q].present? %>
     <a href="<%%= admin_<%=plural_table_name %>_path %>" class="btn waves-effect waves-light purple darken-4">RESET</a>
    <%% end %>
   </div>
 </div>
<%% end %>


<table class="responsive-table striped">
  <thead>
    <tr>
<% singular_table_name.camelize.constantize.columns_hash.each do |attribute,type| -%>
      <% if type.type.to_s == 'string' %>
      <th><%%= sort_link(@q, <%= ":#{attribute}"%>) %></th>
      <% end %>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
        <% singular_table_name.camelize.constantize.columns_hash.each do |attribute,type| -%>
          <% if type.type.to_s == 'string' %>
           <td><%%= <%= singular_table_name %>.<%= attribute %> %></td>
          <% end %>
        <% end -%>
        
        <td class="index-actions">
        <%%= link_to raw("<i class='material-icons'>visibility</i>"), <%= "[:#{prefix}, #{singular_table_name}]" %>, class: 'waves-effect waves-light btn' %>
        <%%= link_to raw("<i class='material-icons'>create</i>"), edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'waves-effect waves-light btn' %>
       <%%= link_to raw("<i class='material-icons'>delete</i>"), <%= "[:#{prefix}, #{singular_table_name}]" %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red accent-4' %></td>
      </tr>

    <%% end %>
  </tbody>
</table>


<%%= will_paginate @<%= plural_table_name %>, :renderer => BootstrapPaginationHelper::LinkRenderer %>
