<p id="notice"><%%= notice %></p>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<div class="row">
<div class="col s6">
<h6><%= attribute.human_name %>:</h6>
<%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</div>
</div>
<% end -%>
<%%= link_to 'Edit', edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= prefixed_index_helper %>_path %>