@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("blue-grey", "darken-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-4") !default;
@import 'materialize';

  label {
  	&.file {
  		display: block;
  		font-size: 100px;
  	}
  }

  .fr-box {
  	padding-top: 50px;
}


  .image_preview {
      width: 100%;
      max-width: 300px;
  	
  }

  .row {
  	&.image {
  		padding: 50px 0px;
  	}
  }

  html {
    font-family: 'Roboto Mono', ;
  }

  .index-actions {
    text-align: right;
  }

  .show-item {
    padding: 40px 0px;
    strong {
      font-weight: bold;
    }
    p {
      margin-bottom: 1em;
    }
    .card-content {
      p {
        margin-bottom: 1em;
      }
    }
  }
  .censored {
    max-width: 300px;
    max-height: 300px;
  }
  .has_many_content {
    box-sizing:border-box;
    padding:20px;
  }

  .nested_items {
    img {
     height: 50px;
    }
  }
  .sortable-placeholder {
        background-color: #fff;
        line-height: 1.5rem;
        padding: 10px 20px;
        background-color: #ececec;
        min-height:84px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
  }